<h4>Main Route!</h4>

<div id="templates">
  {{env.templates.comment}}
</div>

<div id="json">
  {{env.json.user}}
</div>

<hr>
<div>JSON Parsed string from the env</div>

<div id="json-parsed">
Hi I'm {{user.username}}, well that is my username. My real name is {{user.firstName}}. You can email me at {{user.email}}.
</div>

<hr>
<div>HTML Safe string outputed</div>

<div id="html-safe">
{{comment}}
</div>
